# Editor backup files
*.bak
*\~

# Object file
*.o

# Ada Library Information
*.ali
*.a

# Build atifacts
build
test/test_ashell
test/ashell/test_ashell

attic


# Binaries
test_all
test_command_error
test_command_output_to_string
test_iterate_directory
test_iterate_tree
test_nonblocking_pipe
test_pipe_output_to_string
test_piped_processes
test_pipeline_error
test_pipeline_output
test_wait_on_process
test_tasks
