## Editor backup files
#

*.bak
*\~


## Build artifacts
#

*.ali
*.a
*.o
*-loc.xml
.clang-format
.clangd
build
test/test_ashell
test/ashell/test_ashell
attic


## Logs
#

aShell_spawn_Server.error_log
commands.log
shell.log
aShell_spawn_Server.log
aShell_spawn_Client.log


## Binaries
#

test_all
test_command_error
test_command_output_to_string
test_iterate_directory
test_iterate_tree
test_nonblocking_pipe
test_pipe_output_to_string
test_piped_processes
test_pipeline_error
test_pipeline_output
test_wait_on_process
test_concurrent_commands
test_concurrent_pipelines
test_spawn_server
test_safe_pipeline_output
ashell_spawn_server
test_ashell
test_environment
